div {
    position:sticky;
    top: 0;
    left: 0;
    background-color: rgba(183, 250, 239, 0.836);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
  }
 
  
  strong {
    color: rgb(5, 177, 245);
  }
  
 