<div>
    <table class="table">
    <tbody>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">APELLIDO</th>
        
      </tr>
    </tbody>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td> Claudio</td>
        <td>Furfaro</td>
      </tr>
    </tbody>
  </table>
</div>